<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <!-- 模块名称 -->
    <property name="MODUEL_NAME" value="dsgp-soar"/>

    <!-- 日志上下文名称 -->
    <contextName>${MODUEL_NAME}</contextName>

    <!-- 指定日志文件的基本信息 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- 控制台 appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 设置输出格式 -->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>